<marquee behavior="scroll" onmouseover="this.stop();" onmouseout="this.start();" scrolldelay="20">
    {% for f in favorisMarq %}
        <a href="{{ path('bien.show', {'id': f.id}) }}" style="color: black;">
            {{ f.name|capitalize }} &nbsp; | &nbsp;
        </a>
    {% endfor %}
</marquee>