<form method="post" action="{{ path('app.admin.delete', {'id': bien.id}) }}" onsubmit="return confirm('Etes vous vraiment sûr de vouloir supprimer le bien?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bien.id) }}">
    <button class="btn btn-outline-danger btn-sm w-100 my-1">Suprimer</button>
</form>
