{% extends 'admin/bien/index.html.twig' %}
{% block title %}
    Edition bien
{% endblock %}
{% block pageTitle %}
    Edition bien
{% endblock %}
{% block breadcrumb %}
    Agent Immobilier
{% endblock %}
{% block bouton %}
    <a href="{{ path('admin_index') }}" class="btn btn-primary btn-sm">Tableau de bord</a>
{% endblock %}

{% block body %}
    
     <div class="card">
        <div class="card-body pt-3"> 
                {{ include('admin/bien/_form.html.twig', {'button_label': 'Editer'}) }}

                  <a href="{{ path('app_bien_index') }}">voir la liste</a>

                {{ include('admin/bien/_delete_form.html.twig') }}
                <!-- End Bordered Tabs -->
        </div>
    </div>

       
{% endblock %}