{% extends 'admin/bien/index.html.twig' %}


{% block title %}
    Liste des biens loués et vendus par moi même
{% endblock %}
{% block pageTitle %}
    Liste des biens loués et vendus par moi même
{% endblock %}
{% block breadcrumb %}
    Agent Immobilier
{% endblock %}
{% block bouton %}
    <a href="{{ path('admin_index') }}" class="btn btn-primary btn-sm">Tableau de bord</a>
{% endblock %}

{% block body %}
{% include 'admin/bien/_vendu.html.twig' %}
{% endblock %}