{% extends 'admin/bien/index.html.twig' %}


{% block title %}
    Nouveau bien
{% endblock %}
{% block pageTitle %}
    Nouveau bien
{% endblock %}
{% block breadcrumb %}
    Ajout des biens
{% endblock %}
{% block bouton %}
    <a href="{{ path('admin_index') }}" class="btn btn-primary btn-sm">Tableau de bord</a>
{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                <h6>
                  <a href="{{ path('app.admin.bien') }}">Voir la liste de vos biens</a>
                </h6>
            </div>
       </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body pt-3"> 
                {{ include('admin/bien/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        jQuery(document).ready(function () {
            let categorieLouer = jQuery('#bien_categorie_0');
            let categorieVendre = jQuery('#bien_categorie_1');
            let typeBienLouer = jQuery('#type-bien-louer');
            let typeBienVendre = jQuery('#type-bien-vendre');
            let bienSuperficie = jQuery('#bien-surface');
            let bienNbpiece = jQuery('#bien-rooms');
            let bienNbChambre = jQuery('#bien-bedrooms');
            let bienCompteur = jQuery('#bien-heat');
            let bienNiveau = jQuery('#bien-floor');
           let childrenFrequencePaiement = jQuery('#bien_paiementLouer').parent().children();
            let labelMontantBien = jQuery('label[for="bien_price"]');
            categorieLouer.attr('checked', 'checked');
            categorieLouer.click(function () {
                typeBienVendre.addClass('d-none');
                typeBienLouer.show();
                typeBienVendre.hide();
                bienNbpiece.show();
                bienNbChambre.show();
                bienCompteur.show();
                bienNiveau.show();
               childrenFrequencePaiement.show();
                labelMontantBien.text("Montant du loyer (*)");
            });
            categorieVendre.click(function () {
                typeBienVendre.removeClass('d-none');
                typeBienLouer.hide();
                typeBienVendre.show();
                bienNbpiece.hide();
                bienNbChambre.hide();
                bienCompteur.hide();
                bienNiveau.hide();
                childrenFrequencePaiement.hide();
                labelMontantBien.text("Prix de vente (*)");
               
                
            });
            // Traitement avant la soumission du formulaire
            let selectTypeBienLouer = jQuery('#bien_typeBienLouer');
            let selectTypeBienVendre = jQuery('#bien_typeBienVendre');
            jQuery('#bouton-submit').click(function () {
                if (selectTypeBienLouer.val().trim() === '') {
                    typeBienLouer.remove();
                }
                if (selectTypeBienVendre.val().trim() === '') {
                    typeBienVendre.remove();
                }

            });
        }); // Fin ready
    </script>

    <script type="text/javascript">
        let fileObject = [];
        let fildynm = document.getElementById('fildynm');
        let frame = document.getElementById('imageHolders');
        function previewUpload() {
            let fileEL = document.getElementById("bien_files");
            let fichiers = fileEL.files;
            for (let i = 0; i < fichiers.length; i++) {
                let file = fichiers[i];
                let imageType = /^image\//;
                if (!imageType.test(file.type)) {
                    continue;
                }
                let rand = (Math.random() + 1).toString(36).substring(3);
                let img = document.createElement("img");
                img.id = rand;
                img.classList.add('ad-im-preview');
                img.style.margin = '5px 10px 10px';
                img.onclick = function (e) {
                    let confirme = confirm("Voulez-vous vraiment supprimer cette image ?");
                    if (confirme) {
                        let imgId = e.target.id;
                        let fileinput = document.querySelector(`input#file${imgId}`);
                        let fileObj = fileinput.files[0];
                        for (let i = 0; i < fileObject.length; i++) {
                            if (fileObject[i].name === fileObj.name && fileObject[i].size === fileObj.size && fileObject[i].type === fileObj.type) {
                                fileObject.splice(i, 1);
                                fileinput.remove();
                                e.target.remove();
                                break;
                            }
                        }
                    }
                }
                let reader = new FileReader();
                reader.onload = (function(aImg) {
                    return function(e) {
                        aImg.src = e.target.result;
                        // Check if image exist
                        let imageExist = false;
                        for (let i = 0; i < fileObject.length; i++) {
                            if (fileObject[i].name === file.name && fileObject[i].size === file.size && fileObject[i].type === file.type) {
                                imageExist = true;
                                break;
                            }
                        }
                        // Add file to a javascript object
                        if (imageExist === false) {
                            fileObject.push(file);
                            let container = new DataTransfer();
                            container.items.add(file);
                            let inputFile = document.createElement("input");
                            inputFile.type = 'file';
                            inputFile.id = 'file' + rand;
                            inputFile.name = rand;
                            inputFile.classList.add('d-none');
                            inputFile.files = container.files;
                            fildynm.appendChild(inputFile);
                            frame.insertBefore(aImg, frame.children[0]);
                        }
                    };
                })(img);
                reader.readAsDataURL(file);
            } // fin de la boucle
        }
    </script>
    {% endblock %}