{% extends 'admin/bien/index.html.twig' %}

{% block title %}
    Nouveau bien
{% endblock %}
{% block pageTitle %}
    Nouveau bien
{% endblock %}
{% block breadcrumb %}
    Ajout des biens
{% endblock %}
{% block bouton %}
    <a href="{{ path('admin_index') }}" class="btn btn-primary btn-sm">Tableau de bord</a>
{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                <h6>
                  <a href="{{ path('app.admin.bien') }}">Voir la liste de vos biens</a>
                </h6>
            </div>
       </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body pt-3"> 
                {{ include('admin/bien/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        jQuery(document).ready(function () {
            let categorieLouer = jQuery('#bien_categorie_0');
            let categorieVendre = jQuery('#bien_categorie_1');
            let typeBienLouer = jQuery('#type-bien-louer');
            let typeBienVendre = jQuery('#type-bien-vendre');
            let bienSuperficie = jQuery('#bien-surface');
            let bienNbpiece = jQuery('#bien-rooms');
            let bienNbChambre = jQuery('#bien-bedrooms');
            let bienCompteur = jQuery('#bien-heat');
            let bienNiveau = jQuery('#bien-floor');
           let childrenFrequencePaiement = jQuery('#bien_paiementLouer').parent().children();
            let labelMontantBien = jQuery('label[for="bien_price"]');
            categorieLouer.attr('checked', 'checked');
            categorieLouer.click(function () {
                typeBienVendre.addClass('d-none');
                typeBienLouer.show();
                typeBienVendre.hide();
                bienNbpiece.show();
                bienNbChambre.show();
                bienCompteur.show();
                bienNiveau.show();
               childrenFrequencePaiement.show();
                labelMontantBien.text("Montant du loyer (*)");
            });
            categorieVendre.click(function () {
                typeBienVendre.removeClass('d-none');
                typeBienLouer.hide();
                typeBienVendre.show();
                bienNbpiece.hide();
                bienNbChambre.hide();
                bienCompteur.hide();
                bienNiveau.hide();
                childrenFrequencePaiement.hide();
                labelMontantBien.text("Prix de vente (*)");
               
                
            });
            
            let selectTypeBienLouer = jQuery('#bien_typeBienLouer');
            let selectTypeBienVendre = jQuery('#bien_typeBienVendre');
            jQuery('#bouton-submit').click(function () {
                if (selectTypeBienLouer.val().trim() === '') {
                    typeBienLouer.remove();
                }
                if (selectTypeBienVendre.val().trim() === '') {
                    typeBienVendre.remove();
                }

            });
        }); 
    </script>
    {% endblock %}